*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primaryColor:#3498db;
    --secondaryColor:#2ecc71;
    --tertiaryColor:#f1c40f;
    --bgcolor: #f5f6fa;
}
body {
    background-color: var(--bgcolor);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    width: 100%;
}

header{
    position: absolute;
    height: 50px;
    width: 100%;
    color: white;
    background-color: var(--secondaryColor);
}

h2 {
    color: #3a3b3c;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.7em;
    font-size: 2.5rem;
}