*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primaryColor:#3498db;
    --secondaryColor:#2ecc71;
    --tertiaryColor:#f1c40f;
    --bgcolor: #ffffff;
}

header{
    background-color: var(--primaryColor);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    /* top: -100px; */
    /* Initially hidden */
    transition: top 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    display: inline;
    list-style: none;
    font-size: 16px;
    margin: 0 5px;
}

